<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ dataset.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="title">{{ dataset.title }}</h1>
        <h2 class="authors">
          {% for author in dataset.authors %}
          {% if author.link and author.link != "" %}
          <a href="{{author.link}}" target="_blank">{{ author.name }}</a><sup>{{ author.affiliation }}</sup>{% if not loop.last %}, {% endif %}
          {% else %}
          {{ author.name }}<sup>{{ author.affiliation }}</sup>{% if not loop.last %}, {% endif %}
          {% endif %}
          {% endfor %}
        </h2>
      </header>

      <section id="sample-image">
        <div class="img-container">
          <h2 class="img-title">{{ dataset.image_title }}</h2>
          <img
            src="{{ dataset.sample_image }}"
            alt="Sample image from dataset"
          />
          <figcaption>{{ dataset.image_caption }}</figcaption>
        </div>
      </section>

      <section class="links">
        <!-- <h2>Links</h2> -->
        <ul>
          {% for button in dataset.buttons %}
          <li>
            <a href="{{ button.link }}" target="_blank" alt="{{ button.alt }}"
              ><i class="fas fa-{{ button.icon }}"></i
              ><span>{{ button.text }}</span></a
            >
          </li>
          {% endfor %}
        </ul>
      </section>

      <section id="abstract">
        <h2>Abstract</h2>
        <p>{{ dataset.abstract | safe}}</p>
      </section>

      <section id="methodology">
        <h2>Methodology</h2>
        <p>{{ dataset.methodology | safe}}</p>
        <img
          src="{{ dataset.methodology_image }}"
          alt="Methodology image"
          width="100%"
        />
      </section>

      <section id="usage-notes">
        <h2>Usage Notes</h2>
        <p>{{ dataset.usage_notes | safe}}</p>
        <div class="links">
          <ul>
            {% for button in dataset.buttons %} {% if button.text == "Download"
            %}
            <li>
              <a href="{{ button.link }}" target="_blank" alt="{{ button.alt }}"
                ><i class="fas fa-{{ button.icon }}"></i
                ><span>{{ button.text }}</span></a
              >
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
        <h3>Trait descriptions</h3>
        <table style="border-collapse: collapse; width: 100%;">
          <caption style="caption-side: bottom; text-align: center;">
            Plant functional traits used for modeling and trait map generation. 
            "Trait" refers to a shortened version of the "TRY trait name". 
            "TRY trait name" refers to the name used in the TRY trait database.
          </caption>
          <thead>
            <tr>
              <th>Trait</th>
              <th>TRY trait name</th>
              <th>Unit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Conduit element length</td>
              <td>Wood vessel element length; stem conduit (vessel and tracheids) element length</td>
              <td>&micro;m</td>
            </tr>
            <tr>
              <td>Dispersal unit length</td>
              <td>Dispersal unit length</td>
              <td>mm</td>
            </tr>
            <tr>
              <td>LDMC</td>
              <td>Leaf dry mass per leaf fresh mass (leaf dry matter content, LDMC)</td>
              <td>g g<sup>-1</sup></td>
            </tr>
            <tr>
              <td>Leaf area</td>
              <td>Leaf area (in case of compound leaves: leaflet, undefined if petiole is in- or excluded)</td>
              <td>mm<sup>2</sup></td>
            </tr>
            <tr>
              <td>Leaf C</td>
              <td>Leaf carbon (C) content per leaf dry mass</td>
              <td>mg g<sup>-1</sup></td>
            </tr>
            <tr>
              <td>Leaf C/N ratio</td>
              <td>Leaf carbon/nitrogen (C/N) ratio</td>
              <td>g g<sup>-1</sup></td>
            </tr>
            <tr>
              <td>Leaf delta 15N</td>
              <td>Leaf nitrogen (N) isotope signature (delta 15N)</td>
              <td>ppm</td>
            </tr>
            <tr>
              <td>Leaf dry mass</td>
              <td>Leaf dry mass (single leaf)</td>
              <td>g</td>
            </tr>
            <tr>
              <td>Leaf fresh mass</td>
              <td>Leaf fresh mass</td>
              <td>g</td>
            </tr>
            <tr>
              <td>Leaf length</td>
              <td>Leaf length</td>
              <td>mm</td>
            </tr>
            <tr>
              <td>Leaf N (area)</td>
              <td>Leaf nitrogen (N) content per leaf area</td>
              <td>g m<sup>-2</sup></td>
            </tr>
            <tr>
              <td>Leaf N (mass)</td>
              <td>Leaf nitrogen (N) content per leaf dry mass</td>
              <td>mg g<sup>-1</sup></td>
            </tr>
            <tr>
              <td>Leaf P</td>
              <td>Leaf phosphorus (P) content per leaf dry mass</td>
              <td>mg g<sup>-1</sup></td>
            </tr>
            <tr>
              <td>Leaf thickness</td>
              <td>Leaf thickness</td>
              <td>mm</td>
            </tr>
            <tr>
              <td>Leaf water content</td>
              <td>Leaf water content per leaf dry mass (not saturated)</td>
              <td>g g<sup>-1</sup></td>
            </tr>
            <tr>
              <td>Leaf width</td>
              <td>Leaf width</td>
              <td>mm</td>
            </tr>
            <tr>
              <td>Plant height</td>
              <td>Plant height (vegetative)</td>
              <td>m</td>
            </tr>
            <tr>
              <td>Rooting depth</td>
              <td>Root rooting depth</td>
              <td>m</td>
            </tr>
            <tr>
              <td>Seed germination rate</td>
              <td>Seed germination rate (germination efficiency)</td>
              <td>days</td>
            </tr>
            <tr>
              <td>Seed length</td>
              <td>Seed length</td>
              <td>mm</td>
            </tr>
            <tr>
              <td>Seed mass</td>
              <td>Seed dry mass</td>
              <td>mg</td>
            </tr>
            <tr>
              <td>Seed number</td>
              <td>Seed number per reproduction unit</td>
              <td>-</td>
            </tr>
            <tr>
              <td>SLA</td>
              <td>Leaf area per leaf dry mass (specific leaf area, SLA or 1/LMA): undefined if petiole is in- or excluded)</td>
              <td>m<sup>2</sup> kg<sup>-1</sup></td>
            </tr>
            <tr>
              <td>SRL</td>
              <td>Root length per root dry mass (specific root length, SRL)</td>
              <td>cm g<sup>-1</sup></td>
            </tr>
            <tr>
              <td>SRL (fine)</td>
              <td>Fine root length per fine root dry mass (specific fine root length, SRL)</td>
              <td>cm g<sup>-1</sup></td>
            </tr>
            <tr>
              <td>SSD</td>
              <td>Stem specific density (SSD) or wood density (stem dry mass per stem fresh volume)</td>
              <td>g cm<sup>-3</sup></td>
            </tr>
            <tr>
              <td>Stem conduit density</td>
              <td>Stem conduit density (vessels and tracheids)</td>
              <td>mm<sup>-2</sup></td>
            </tr>
            <tr>
              <td>Stem conduit diameter</td>
              <td>Stem conduit diameter (vessels, tracheids)</td>
              <td>&micro;m</td>
            </tr>
            <tr>
              <td>Stem diameter</td>
              <td>Stem diameter</td>
              <td>m</td>
            </tr>
            <tr>
              <td>Wood fiber lengths</td>
              <td>Wood fiber lengths</td>
              <td>&micro;m</td>
            </tr>
            <tr>
              <td>Wood ray density</td>
              <td>Wood rays per millimetre (wood ray density)</td>
              <td>mm<sup>-1</sup></td>
            </tr>
          </tbody>
        </table>

      </section>

      <section id="citation">
        <h2>How to Cite</h2>
        <p>To cite this dataset, please use the following BibTeX entry:</p>
        <pre>{{ dataset.citation }}</pre>
      </section>

      <section id="related-work">
        <h2>Related Work</h2>
        <ul>
          {% for work in dataset.related_work %}
          <li>
            <a href="{{ work.link }}" target="_blank">{{ work.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>
      <p class="affiliations">
          {% for aff_id, aff_name in dataset.affiliations.items() %}
          <sup>{{ aff_id }}</sup> {{ aff_name }}{% if not loop.last %}, {% endif %} 
          {% endfor %}
        </p>
      <footer>
        <p>
          &copy; {{ dataset.current_year }} Daniel Lusk. All rights reserved.
        </p>
      </footer>
    </div>
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </body>
</html>
